<form id="employeeForm">
    <label for="employeeId">ID сотрудника:</label>
    <input type="text" id="employeeId" name="id" value="{{id}}" required>
    <button class="btn waves-effect waves-light" type="button" id="showOrdersButton">Показать заказы</button>
    <button class="btn waves-effect waves-light" type="button" id="activeOrdersButton">Активные заказы</button>
    <button class="btn waves-effect waves-light" type="button" id="completeOrdersButton">Завершенные заказы</button>

</form>

<div id="list" class="l">


</div>
